h1 {
    text-align: left;
    font-size: 35px;
    position: relative;
    overflow: hidden; 
    padding-left: 40px;
}

.column {
    flex: 100%;
    padding: 0 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: lightslategray;
    background-color: transparent;
    text-decoration: none;
}
 