@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

body *
{
   font-family: 'Montserrat';
   color: white;
   font-size: 14px;
}

/* navigation bar */
.navbar {
    background-color: #252727;
}

.navbar .navbar-brand {
    font-size: 26px;   
}

.navbar a,
.list-group-item {
    color: white;
    font-size: 14px;
}

/* about page cards styling */
.card a {
    font-size: 14px;
}

.card {
    margin-bottom: 3%;
}

/* hover designs */
.navbar :hover,
.subtitleintro :hover,
.filmintro :hover {
    color: #4E79A7;
    text-decoration: none;
}

/* image formatting */
img {
    width: 100%;
    padding-bottom: 3%;
}

/* dark sections intros */
.rowdark {
    background-color: #252727;
}

.filmintro img,
.mainintro img {
    padding-top: 1%;
    padding-bottom: 5%;
}

/* light sections */
.subtitleintro,
.aboutteam,
.analysis2,
.filmintro {
    padding-top: 2%;
}

/* dark text */
.subtitleintro h5,
.subtitleintro p,
.aboutteam h5,
.aboutteam p,
.analysistitle2 h5,
.analysistitle2 p {
    color: #252727;
}

/* title */
.mainintro h5,
.aboutintro h5,
.aboutteam h5,
.first h5 {
    font-size: 24px;  
}

/* subtitle */
.subtitleintro h5,
.filmintro h5,
.analysistitle h5,
.analysistitle2 h5 {
    font-size: 20px;  
}

/* different paddings for design */
/* 8% padding */
.analysistitle, 
.subparagraph {
    padding-top: 10%;    
}

/* 3% padding */
.aboutintro p,
.title,
.analysis,
.analysis2  {
    padding: 3%;
}

/* 4% padding */
.abouttitle,
.mainparagraph,
.aboutteam h5,
.first p,
.analysistitle2,
.wordtitle {
    padding: 4%;
}

/* 12% padding */
.countrytitle,
.abouttitle2 {
    padding-top: 12%;
}

.dialoguetitle,
.genretitle {
    padding-top: 6%;
}
