@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

/* body characteristics */
body * {
  font-family: "Montserrat";
  color: white;
  font-size: 14px;
}

/* navigation bar */
.navbar {
  background-color: #1b1b1e;
}

.navbar .navbar-brand {
  font-size: 28px;
  font-weight: 500;
  font-family: "Work Sans";
}

.navbar a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Work Sans";
}

.navbar .nav-item.active .nav-link,
.navbar :hover {
  background-color: #8a817c !important;
  color: white !important;
  text-decoration: none;
}

h4,
h5,
.list-group-item {
  font-family: "Work Sans";
}

.list-group-item {
  font-size: 15px;
}

p a,
.text p a,
p a:hover,
.text p a:hover {
  color:#4281a4;
}

/* image formatting on home page */
img {
  width: 100%;
}

/* dark sections background change */
.rowdark {
  background-color: #1b1b1e;
}

/* light sectons font change */
.subtitleintro h4,
.subtitleintro p,
.teamtitle,
.analysis2 h4,
.analysis2 p {
  color: #1b1b1e;
}

/* overlay for information about team members */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1b1b1e;
}

.col-md-4:hover .overlay {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  text-align: center;
}

.subtitleintro .carousel-item img,
.analysis2 .col-md-8 {
  border: 2px solid #1b1b1e;
}